<div class="container">
  <div class="pull-left" id="logo">
    <h1><a routerLink="/"> Maantu Das, <span class="" >Fullstack Developer</span></a></h1>
  </div>
  
  <nav id="nav-menu-container">
  <ul class="nav-menu">
    <li><a routerLink="/" routerLinkActive="active">About</a></li>
    <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
    <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    <li><a routerLink="/achievements" routerLinkActive="active">Achievements</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
  </nav>
</div>
