<div class="row  mt20">
  <div class="col-lg-12 col-lg-offset-4 text-center">
        <h2 class="heading-title">Want to work together?</h2>
        <span>Let's Convert a Great Idea Into a Reality!</span>
  </div>
  </div>

  <div class="row mt20">
    <div class="col-lg-6 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p><a href="tel:+918014356384" class="no-anchor"> (91) 80133-56384</a></p>
    </div>
    <div class="col-lg-6 text-center">
        <i class="fa fa-envelope fa-3x sr-contact"></i>
        <p><a href="mailto:maantudas91@gmail.com" class="no-anchor">maantudas91@gmail.com</a></p>
      </div>
  </div>


