<section id="topbar">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <i class="fa fa-envelope"></i>
      <a href="mailto:maantudas91@gmail.com">maantudas91@gmail.com@gmail.com</a>
      <i class="fa fa-phone"></i> +91 8013356384
    </div>
    <div class="social-links float-right">
      <a
        class="linkedin"
        href="https://www.linkedin.com/in/maantu-das-51b328128/"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="quora" href="/" target="_blank"><i class="fab fa-quora"></i></a>
      <a class="github" href="https://github.com/maantudas91" target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a class="instagram" href="/" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
</section>
