<section id="topbar"> 
  <div class="container clearfix">
    <div class="contact-info float-left">
            <i class="fa fa-envelope"></i> <a href="mailto:maantudas91@gmail.com">maantudas91@gmail.com@gmail.com</a>
            <i class="fa fa-phone"></i> +91 8013356384
    </div>
    <div class="social-links float-right">
        <a class="linkedin" href="https://www.linkedin.com/in/haritummala" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="quora" href="https://www.quora.com/profile/Hari-Hara-Kumar-4" target="_blank"><i class="fa fa-quora"></i></a>
        <a class="github" href="https://github.com/h4hari"><i class="fa fa-github " target="_blank"></i></a>
        <a class="instagram" href="https://www.instagram.com/name_is_hari/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
  </div>
</section>